.background-img{
    background-image: url("https://cdna.artstation.com/p/assets/images/images/001/738/746/large/eva-kedves-cabininthewoodsweb.jpg?1452028763");
    background-repeat: no-repeat;
    background-size: cover;
}